<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <nav><%- include('../partials/navbar.ejs') %></nav>
    <div><%- include('../partials/carousel.ejs') %></div>
    <h1 style="min-height: 350px;">This is Home Page</h1>
    <head>
      <%- include('../partials/footer.ejs') %>
    </head>
  </body>
</html>
